---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<!--   <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <!-- adf.ly -->
  <script type="text/javascript">
    var adfly_id = 24812635;
    var adfly_advert = 'int';
    var popunder = false;
    var adfly_protocol = 'https';
    var adfly_nofollow = true;
    var domains = ['sourceforge.net', 'github.com', 'lineageos.org'];
  </script>
  <script src="https://cdn.adf.ly/js/link-converter.js"></script> 
</head>
<body style="background-color: rgb(255, 255, 255)">
 <script async src="{{site.baseurl}}/js/theme.min.js"></script>
  <header>
      <a href="{{site.baseurl}}/"><div class="home"></div></a>
  </header>

    <main>
    <article>
    {{ content }}
    </article>
    </main>

<footer>
    <div class="links">
        <a href="{{site.baseurl}}/about/">About</a>
        <a href="{{site.baseurl}}/contact/">Contact</a>
        <a class="theme" onclick="theme()">Dark/Light</a>
    </div>
    <p class="copy"><small>Copyrights by Amy Grace</small></p>
</footer>
</body>
</html>
